body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Lobster', cursive;
  font-size: 5em;
  color: #314e52;
}

h2 {
  font-size: 2.5em;
  color: #f2a154;
  padding-bottom: 10px;
}

h3 {
   color: #314e52;
}

hr {
  border: dotted #314e52 15px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #f2a154;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: white;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #e7e6e1;
  position: relative;
  padding: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #314e52;
  padding: 50px 0 20px;
}

.bb1 {
  height: 150px;
  width: 150px;
  position: absolute;
  right: 225px;
  top: 20px;
}

.bb2 {
  height: 170px;
  width: 170px;
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.chart {
  height: 200px;
  width: 200px;
}

.services-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.profile{
  width: 50%;
  margin: auto;
}

.contact-message {
  margin: 40px auto 60px auto;
}

.actor-img {
  width: 25%;
}

.equity-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.fno-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.mutual-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.copyright-message {
  color: white;
  font-size: 0.75em;
  padding: 20px 0;
}

.btn {
  border: none;
  padding: 15px;
  background-color: #314e52;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}
